# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Dataset
data/
*.csv
*.zip

# Model files
*.pt
*.pth
*.ckpt

# Experiment outputs
results/checkpoints/
results/tmp/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
kaggle.json